@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  /*background-color: black; */
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: unset !important; 
  margin-left: 15px !important;
}

* {
  box-sizing: border-box;
  /* color: #ddd; */
}
.blog {
  @apply dark:text-gray-400;
  @apply text-gray-600;
}
.blog h2 {
  @apply text-2xl;
  @apply mb-2;
  @apply mt-2;
  @apply dark:text-gray-100;
  @apply text-gray-800;
}

.blog h3 {
  @apply text-xl;
  @apply mb-2;
  @apply dark:text-gray-200;
  @apply text-gray-700;
}

.blog p , body b {
  @apply dark:text-gray-400;
  @apply text-gray-600;
  @apply mb-2;
}

.blog strong {
  @apply font-bold;
  @apply dark:text-gray-300;
  @apply text-gray-700;
}

.blog hr {
  @apply mb-4;
  @apply mt-4;
  @apply dark:border-gray-900;
  @apply border-gray-200;
}
.blog a {
  @apply text-blue-600;
  @apply dark:text-blue-700;
}
#nprogress .bar {
  @apply bg-gradient-to-r !important;
  @apply from-blue-600 !important;
  @apply via-indigo-600 !important;
  @apply to-red-600 !important;
  @apply dark:bg-green-700 !important;
}

.hero:hover .myimg {
  @apply blur-0;
}